body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    padding: 40px 80px;
    color: red;
    border: 3px solid red
    text-transform uppercase;
    font-size: 40px;
    font-family:'roboto';
    font-weight:300;
    letter-spacing: -2px;
    transition: all 0.5s;
}
a:houver {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid red;
}